$bg: #f4f4f4;
$linkActive: #312f2f;
$linkSecondary: #8f8f8f;
$darkText: #312f2f;
$lightText: #8f8f8f;
$searchInput: #e4e4e4;
$searchInputPlaceholder: #000000;
$darkButton: #312f2f;
$heroTitle: #312f2f;
$heroColor: #84dccf;
$heroText: #2e2e2e;
$heroLink: black;

$homeCategories: black;
$categoryCardBg: white;

$recipeTitle: Black;

$newsletterBg: white;
$newsletterBadge: #ffee00;

$footerText: #2e2e2e;
$footerHeader: black;
$footerLink: #8f8f8f;

$errorBg: white;

$recipeBg: white;
$categoryBg: white;

// $sortingLinkActive:black;
// $sortingLinkInactive:
